.mainbox{
    box-sizing: border-box;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    background-color:rgba( 0, 0, 0, 0.7 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    

}
.mainpage{
    background-color: gray;
    height: 100%;
}